@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: @red;
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @text;
}

#box {
  border-radius: 2px;
  background: @base;
  padding: 32px;
  border: 1px solid @crust;
}

#search {
  background: @mantle;
  padding: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @text;
  opacity: 0.2;
}

#clear {
  color: @text;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @text;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 2px;
}

child:selected,
child:hover {
  background: alpha(@surface0, 0.4);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
  color: @text;
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @text;
  background: @base;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: @mantle;
}

/* From the original theme */
/** {*/
/*    all: unset;*/
/*}*/

popover {
    /*background: lighter(@window_bg_color);*/
    /*border: 1px solid darker(@accent_bg_color);*/
    border-radius: 18px;
    padding: 10px;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

.large-icons {
    -gtk-icon-size: 32px;
}

scrollbar {
    opacity: 0;
}

.box-wrapper {
    box-shadow:
            0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
    /*background: @window_bg_color;*/
    padding: 20px;
    border-radius: 20px;
    /*border: 1px solid darker(@accent_bg_color);*/
}

.preview-box,
.elephant-hint,
.placeholder {
    /*color: @theme_fg_color;*/
}

.box {
}

.search-container {
    border-radius: 10px;
}

.input placeholder {
    opacity: 0.5;
}

.input selection {
    /*background: lighter(lighter(lighter(@window_bg_color)));*/
}

.input {
    /*caret-color: @theme_fg_color;*/
    /*background: lighter(@window_bg_color);*/
    padding: 10px;
    /*color: @theme_fg_color;*/
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
    /*color: @theme_fg_color;*/
}

child {
}

.item-box {
    border-radius: 10px;
    padding: 10px;
}

.item-quick-activation {
    /*background: alpha(@accent_bg_color, 0.25);*/
    border-radius: 5px;
    padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box {
    /*background: alpha(@accent_bg_color, 0.25);*/
}

.item-text-box {
}

.item-subtext {
    font-size: 12px;
    opacity: 0.5;
}

.providerlist .item-subtext {
    font-size: unset;
    opacity: 0.75;
}

.item-image-text {
    font-size: 28px;
}

.preview {
    /*border: 1px solid alpha(@accent_bg_color, 0.25);*/
    /* padding: 10px; */
    border-radius: 10px;
    /*color: @theme_fg_color;*/
}

.calc .item-text {
    font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
    font-size: 24px;
}

.todo.done .item-text-box {
    opacity: 0.25;
}

.todo.urgent {
    font-size: 24px;
}

.todo.active {
    font-weight: bold;
}

.bluetooth.disconnected {
    opacity: 0.5;
}

.preview .large-icons {
    -gtk-icon-size: 64px;
}

.keybinds {
    padding-top: 10px;
    /*border-top: 1px solid lighter(@window_bg_color);*/
    font-size: 12px;
    /*color: @theme_fg_color;*/
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
    opacity: 0.5;
}

.keybind-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.keybind-bind {
    text-transform: lowercase;
    opacity: 0.35;
}

.keybind-label {
    padding: 2px 4px;
    border-radius: 4px;
    /*border: 1px solid @theme_fg_color;*/
}

.error {
    padding: 10px;
    /*background: @error_bg_color;*/
    /*color: @error_fg_color;*/
}

:not(.calc).current {
    font-style: italic;
}

.preview-content.archlinuxpkgs {
    font-family: monospace;
}